<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="lolo.cordova.plugin.flowerInfo" version="0.0.1">
    <name>flowerInfo</name>
    <description>Gets information about flower watering</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
    <js-module src="www/flowerInfo.js" name="flowerInfo">
        <clobbers target="flowerInfo" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="InfoReceiver">
                <param name="ios-package" value="CDVInfoReceiver"/>
            </feature>
        </config-file>
        <framework src="UIKit.framework" />
        <header-file src="src/ios/CDVInfoReceiver.h" />
        <source-file src="src/ios/CDVInfoReceiver.m" />
    </platform>
</plugin>